<div class="fix-bottom">
    <a href="/posts">
        <div class="bottom_text">首页</div>
    </a>
    <a href="/posts/create">
        <div class="bottom_text">发布</div>
    </a>
    <a href="/news">
        <div class="bottom_text">新闻</div>
    </a>
    <a href="/posts/me/about">
        <div class="bottom_text">我的</div>
    </a>
</div>