<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="../public/js/screen.js">
    <style type="text/css">
        *{
            padding: 0;
            margin: 0 auto;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #000;
        }
        .content{
            position: relative;
            top: 12rem;
            text-align: center;
        }
        .content img{
            width: 12.25rem;
            height: 9.375rem;
        }
        .content p{
            font-size: 1rem;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="error">
    <div class="content">
        <img src="/img/error.png" alt="">
        <p>404!,您访问的页面找不回来了。</p>
    </div>
</div>
</body>
</html>