<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/screen.js"></script>
    <script src="/js/iscroll.js"></script>
    <style>
        body,table,tr,th,td,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,select,fieldset,input,textarea,p,span,img,a,em,i{margin:0; padding:0;outline: 0; }
        body{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #404040;
        }
        a{color:#222; text-decoration:none; outline:none;}
        i{font-style: normal;}
        a:hover{ text-decoration:none;}
        em{font-style: normal;}
        li{list-style: none}
        img{border:0 none;}
        img,input,select,textarea,label{vertical-align:middle;}
        .fix-char-type {
            position: fixed;
            height: 2.5rem;
            line-height: 2.5rem;
            top: 0;
            left: 0;
            z-index: 1000;
            border-top: 1px solid #eee;
            background: #fff;
            width: 100%;
        }
        .fix-char-type a {
            font-size: .9375rem;
            color: #999;
            white-space: nowrap;
        }
        #type2, #type3, #type4, #type5, #type6, #type7, #type8, .fix-char-type a {
            width: auto!important;
            color: #444;
            font-size: .8125rem;
            margin-left: 1rem;
            display: block;
            float: left;
        }
        .swiper-slide-active {
            border-bottom: 0.1875rem solid #d2b18e !important;
            color: #000!important;
        }
        .news>img{
            width: 100%;
            margin-top: 2.8rem;
        }
        .news-item{
            border-bottom: 1px solid #ccc;
            margin: 0 0.9375rem;
            padding: 0.9375rem 0;
            position: relative;
        }
        .news-item img{
            width: 8rem;
            height: 6.5rem;
            float: left;
            margin-right: 0.625rem;
        }
        .showTime{
            position: absolute;
            bottom: 0.9375rem;
            right: 0.2rem;
        }
        .loadMore{
            text-align: center;
            width: 5rem;
            height: 2rem;
            line-height: 2rem;
            background-color: #000;
            border-radius: 5px;
            margin: 1rem auto;
        }
        .loadMore a{
            color: #d1b28e;
        }
    </style>
</head>
<body>
<div class="news" id="news">
    <div class="fix-char-type  test" id="wrapper">
        <div class="text1" id="scroller" >
            <!--v-for-->
            <a href="#" @click="getItemLists('war')" class="swiper-slide-active">军事</a>
            <a href="#" @click="getItemLists('sport')" class="">体育</a>
            <a href="#" @click="getItemLists('tech')" class="">科技</a>
            <a href="#" @click="getItemLists('edu')" class="">教育</a>
            <a href="#" @click="getItemLists('ent')" class="">娱乐</a>
            <a href="#" @click="getItemLists('money')" class="">财经</a>
            <a href="#" @click="getItemLists('gupiao')" class="">股票</a>
            <a href="#" @click="getItemLists('travel')" class="">旅游</a>
        </div>
    </div>
    <img src="/img/news.jpeg" alt=""/>
    <div class="news-item" v-for="item in list" @click="goNews(item.docurl)">
        <img :src="item.imgurl" alt=""/>
        <p style="font-size: 1.125rem">{{item.title}}</p>
        <p class="showTime">{{item.time}}</p>
        <div class="clearfloat" style="clear: both"></div>
    </div>
    <div class="loadMore">
        <a @click="loadMore()">加载更多</a>
    </div>
</div>
<%- include('components/bottom') %>
<script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
<script src="//cdn.bootcss.com/vue-resource/0.7.2/vue-resource.min.js"></script>
<script>
    var vm = new Vue({
        el:'body',
        data: {
            list:'',
            page:1
        },
        ready: function() {
            var that = this;
            var postData = {
                "type": "war",
                "page": this.page,
                'limit': 10
            };

            postData = (function(obj){ // 转成post需要的字符串.
                var str = "";

                for(var prop in obj){
                    str += prop + "=" + obj[prop] + "&"
                }
                return str;
            })(postData);

            var xhr = new XMLHttpRequest();

            xhr.open("POST", "http://wangyi.butterfly.mopaasapp.com/news/api", true);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.onreadystatechange = function(){
                var XMLHttpReq = xhr;
                if (XMLHttpReq.readyState == 4) {
                    if (XMLHttpReq.status == 200) {
                        var text = XMLHttpReq.responseText;
                        console.log(JSON.parse(text))
                        that.list = JSON.parse(text).list
                    }
                }
            };
            xhr.send(postData);
        },
        methods :  {
            getItemLists:function (type) {
                var that = this;
                this.page = 1;
                console.log(event.currentTarget)
                if(event.currentTarget.className.indexOf('swiper-slide-active')!=-1) {//检索当前a有木有coupon_active样式，有的话直接跳出
                    return;
                }
                event.currentTarget.setAttribute('val','true');

                var div=document.getElementById('news');//最外面的div
                var ps=div.getElementsByClassName('test');//找到div下所有的test
                var lis=ps[0].getElementsByTagName('a');//找到第一个ul下面所有的a
                for(var j=0;j<lis.length;j++) {
                    if(lis[j].className.indexOf('swiper-slide-active')!=-1) {
                        oldNum=j;//此j表示之前有coupon_active这个样式的li位置
                    }
                    if(lis[j].getAttribute('val')=='true') {
                        event.currentTarget.removeAttribute('val');//移出属性val；防止第二次找位置时混乱
                        newNum=j;//此j表示当前的位置
                    }
                }
                lis[newNum].className='swiper-slide-active';
                // ps[newNum+1].style.display='block';
                lis[oldNum].className='';
                //ps[oldNum+1].style.display='none'


                console.log(type)
                var postData = {
                    "type": type,
                    "page": this.page,
                    'limit': 10
                };

                postData = (function(obj){ // 转成post需要的字符串.
                    var str = "";

                    for(var prop in obj){
                        str += prop + "=" + obj[prop] + "&"
                    }
                    return str;
                })(postData);

                var xhr = new XMLHttpRequest();

                xhr.open("POST", "http://wangyi.butterfly.mopaasapp.com/news/api", true);
                xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xhr.onreadystatechange = function(){
                    var XMLHttpReq = xhr;
                    if (XMLHttpReq.readyState == 4) {
                        if (XMLHttpReq.status == 200) {
                            var text = XMLHttpReq.responseText;
                            that.list = JSON.parse(text).list
                        }
                    }
                };
                xhr.send(postData);
            },
            goNews:function (url) {
                window.location.href = url
            },
            loadMore: function () {
                this.page += 1;
                console.log(this.page);
                var that = this;
                var postData = {
                    "type": "war",
                    "page": this.page,
                    'limit': 10
                };

                postData = (function(obj){ // 转成post需要的字符串.
                    var str = "";

                    for(var prop in obj){
                        str += prop + "=" + obj[prop] + "&"
                    }
                    return str;
                })(postData);

                var xhr = new XMLHttpRequest();

                xhr.open("POST", "http://wangyi.butterfly.mopaasapp.com/news/api", true);
                xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xhr.onreadystatechange = function(){
                    var XMLHttpReq = xhr;
                    if (XMLHttpReq.readyState == 4) {
                        if (XMLHttpReq.status == 200) {
                            var text = XMLHttpReq.responseText;
                            console.log(JSON.parse(text))
                            for(var i in JSON.parse(text).list) {
                                that.list.push(JSON.parse(text).list[i]);
                            }
                            console.log(that.list)
                            //that.list = JSON.parse(text).list
                        }
                    }
                };
                xhr.send(postData);
            }
        }
    });
</script>
</body>
</html>